<footer>
  <div id="footermainbox">
    <div class="futbox1">
      <p id="para">We are also available on PlayStore and AppStore</p>
      <img
        id="play"
        src="https://cdn.shopify.com/s/files/1/0439/5456/9367/files/1.png?v=1602914357"
      />
      <img
        id="apple"
        src="https://cdn.shopify.com/s/files/1/0439/5456/9367/files/2_1.png?v=1602914345"
      />
    </div>
    <div id="futbox2">
      <div class="futbox3" id="futbox3_1">
        <p>ONLINE PRESENSE</p>
        <hr class="hr" />
        <p class="futbox3_content">Amazon</p>
        <p class="futbox3_content">Nykaa</p>
        <p class="futbox3_content">Flipkart</p>
        <p class="futbox3_content">Purple</p>
        <p class="futbox3_content">Mirraw</p>
      </div>
      <div class="futbox3">
        <p>INFORMATION</p>
        <hr class="hr" />
        <p class="futbox3_content">Blogs</p>
        <p class="futbox3_content">Terms & Conditions</p>
        <p class="futbox3_content">Newsroom</p>
        <p class="futbox3_content">Privacy Policy</p>
        <p class="futbox3_content">Refund & Return</p>
        <p class="futbox3_content">Shipping Policy</p>
        <p class="futbox3_content">Reward Policy</p>
      </div>
      <div class="futbox3">
        <p>SUPPORT</p>
        <hr class="hr" />
        <p class="futbox3_content">About Us</p>
        <p class="futbox3_content">Contact Us</p>
        <p class="futbox3_content">Order Tracking</p>
        <p class="futbox3_content">All Products</p>
        <p class="futbox3_content">FAQ</p>
      </div>
      <div class="futbox4">
        <p>CONTACT US</p>
        <hr class="hr" />
        <p class="icon_1 futbox3_content">
          <i class="fas fa-home"></i
          ><span class="futbox3_content">
            Office Location: Plot no. 351, <br />
            UdyogVihar Phase II, Gurgaon,Haryana,India
          </span>
        </p>
        <p class="icon_1 futbox3_content">
          <i class="far fa-envelope-open"></i
          ><span class="futbox3_content"> shopa@bellavitaorganic.com </span>
        </p>
        <p class="icon_1 futbox3_content">
          <i class="fas fa-phone"></i
          ><span class="futbox3_content">+91 9311732440</span>
        </p>
        <p class="icon_1 futbox3_content">
          <i class="fas fa-business-time"></i>
          <span class="futbox3_content"
            >AM To 8:00 PM , Monday ,<br />To Sunday</span
          >
        </p>
      </div>
      <div class="futbox4">
        <p>OUR NEWSLETTER</p>
        <hr class="hr" />
        <p id="h44" class="futbox3_content">
          Sign up here to get the latest news, updates <br />and special offers
          delivered to your inbox.

          <br /><br />Plus, you'll be the first to know about our
          <br />discounts!
        </p>
        <input id="inpu" placeholder="Enter Your Email Address" type="email" />
        <button id="but">SUBMIT</button>
      </div>
    </div>
    <div class="futbox1">
      <img
        id="imgfut"
        src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/payments-stripe-sub-footer_2.svg?v=1616140901"
      />
      <div id="icon2">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-square"></i>
        <i class="fab fa-youtube"></i>
        <p id="futtext">©2020 Bella Vita Organic</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="link">
      <div>Quick Links</div>
      <div><ion-icon name="add"></ion-icon></div>
    </div>
    <div class="google">
      <div>
        <span>We are also available on PlayStore and AppStore</span>
      </div>
      <div class="mac">
        <img
          src="https://cdn.shopify.com/s/files/1/0439/5456/9367/files/1.png?v=1602914357"
        />
        <img
          src="https://cdn.shopify.com/s/files/1/0439/5456/9367/files/2_1.png?v=1602914345"
        />
      </div>
    </div>
    <div class="folder">
      <span class="span">ONLINE PRESENSE</span>
      <span><ion-icon name="chevron-down-outline"></ion-icon></span>
    </div>
    <div class="folder">
      <span class="span1">INFORMATION</span>
      <span><ion-icon name="chevron-down-outline"></ion-icon></span>
    </div>
    <div class="folder">
      <span class="span2">SUPPORT</span>
      <span><ion-icon name="chevron-down-outline"></ion-icon></span>
    </div>
    <div class="folder">
      <span class="span3">CONTACK US</span>
      <span><ion-icon name="chevron-down-outline"></ion-icon></span>
    </div>

    <div class="newslet">
      <p>OUR NEWSLETTER</p>
      <p>
        Sign up here to get the latest news, updates and special offers
        delivered to your inbox.
      </p>
      <p>Plus, you'll be the first to know about our discounts!</p>
      <div>
        <input type="text" placeholder="Enter Your Email Address" />
        <button>SUBMIT</button>
      </div>
    </div>

    <div class="logoes">
      <div>
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/payments-stripe-sub-footer_2.svg?v=1616140901"
        />
      </div>
      <div>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-square"></i>
        <i class="fab fa-youtube"></i>
      </div>
      <div>©2020 Bella Vita Organic</div>
    </div>
  </div>
</footer>
