<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Bella Vita Organic | Natural Skin Care Products Online | Ayurvedic Bea
    </title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="//cdn.shopify.com/s/files/1/0054/6665/2718/files/logo_02_32x32.png?v=1606307450"
      type="image/png"
    />
    <!-- CSS  -->
    <link rel="stylesheet" href="/css/landingPage.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/cart.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- bootstrap cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <!-- footer icon cdn -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- flickity slider -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link
      rel="stylesheet"
      href="https://npmcdn.com/flickity@2/dist/flickity.css"
    />
  </head>
  <body>
    <%- include("navbar"); %>
    <!-- mobile screen -->
    <div class="resInput">
      <input
        type="text"
        placeholder="Start typing...Nicolips,Eyelift,Face Wash"
      /><ion-icon name="search-outline"></ion-icon>
    </div>
    <div class="class">
      <div class="peopleImg">
        <div>
          <img
            src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/Oily_Skin_Image.png?v=7525179545046339144"
            alt=""
          />
          <p>OILY SKIN</p>
        </div>
        <div>
          <img
            src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/Dry_Skin_Image.png?v=6895380845236560474"
            alt=""
          />
          <p>DRY SKIN</p>
        </div>
        <div>
          <img
            src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/Normal_Skin_Image.png?v=2086180661409803640"
            alt=""
          />
          <p>NORMAL SKIN</p>
        </div>
        <div>
          <img
            src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/Oily_Skin_Image.png?v=75251795450463391448"
            alt=""
          />
          <p>COMBINATION SKIN</p>
        </div>
      </div>
    </div>
    <div id="flex_box">
      <img
        src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/Flexi-Box-Web-Banner-A-com_9f029a49-afb3-444a-9f3b-8819770f969c.jpg?v=1635050503"
        alt=""
      />
    </div>
    <div id="home_sug">
      <div id="home_offer">
        <div class="home_offer_content">
          <div>
            <img
              src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/Natural-Products-Web-Icon.png?v=7099578460622098835"
              alt="logo"
            />
          </div>
          <div class="offer_content">
            <p>Ayurveda Certified</p>
            <span>Natural & Ayurvedic Products</span>
          </div>
        </div>
        <div class="home_offer_content">
          <div>
            <img
              src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/Fast-Shipping-Web-Icon.png?v=8247079820112277597"
              alt="logo"
            />
          </div>
          <div class="offer_content">
            <p>Rapid Delivery</p>
            <span>Lesser Delivery Time</span>
          </div>
        </div>
        <div class="home_offer_content">
          <div>
            <img
              src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/Customer-Support-Web-Icon.png?v=7479328421855099432"
              alt="logo"
            />
          </div>
          <div class="offer_content">
            <p>Customer Helpline</p>
            <span>Mon-Sun 10:30am - 7pm</span>
          </div>
        </div>
        <div class="home_offer_content">
          <div>
            <img
              src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/Reward-Points-Web-Icon.png?v=9472189980714007507"
              alt="logo"
            />
          </div>
          <div class="offer_content">
            <p>Bella Cash</p>
            <span>Buy More, Earn More</span>
          </div>
        </div>
      </div>
    </div>
    <!-- vaibhav slider -->
    <div class="headHr">
      <span></span>
      <p>SHOP BY CATEGORY</p>
      <span></span>
    </div>

    <div class="gridImg">
      <div>
        <img
          src="	https://cdn.shopify.com/s/files/1/0054/6665/2718/files/cat-skin-care-desktop-22-09.jpg?v=1632336306"
          alt=""
        />
      </div>
      <div>
        <img
          src="	https://cdn.shopify.com/s/files/1/0054/6665/2718/files/cat-hair-care-desktop-22-09.jpg?v=1632336344"
          alt=""
        />
      </div>
      <div>
        <img
          src="	https://cdn.shopify.com/s/files/1/0054/6665/2718/files/cat-lip-care-desktop-22-09.jpg?v=1632336383"
          alt=""
        />
      </div>
      <div>
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/cat-face-care-desktop-22-09.jpg?v=1632336421"
          alt=""
        />
      </div>
      <div>
        <img
          src="	https://cdn.shopify.com/s/files/1/0054/6665/2718/files/cat-perfume-desktop-22-09.jpg?v=1632336461"
          alt=""
        />
      </div>
      <div>
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/cat-essential-oils-desktop-22-09.jpg?v=1632336497"
          alt=""
        />
      </div>
    </div>
    <!-- slider1 -->
    <div class="carousel" data-flickity='{ "groupCells": true }'>
      <div class="carousel-cell vidone">
        <div class="video">
          <video
            width="248px"
            height="420px"
            poster="https://cdn1.fireworktv.com/medias/2021/11/8/1636363380-rnisfcwg/240_400/BellaVitaOrganic-PapyBlem.jpg.62.webp"
            loop
            preload="none"
            muted
          >
            <source
              src="https://cdn1.fireworktv.com/medias/2021/11/8/1636362847-ayefkiob/watermarked/540/PapyBlem-Version2.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="video">
          <video
            width="248px"
            height="420px"
            poster="https://cdn1.fireworktv.com/medias/2021/11/8/1636363705-uxislaef/240_400/BVOShampooandConditioner.jpg.62.webp"
            loop
            preload="none"
            muted
          >
            <source
              src="https://cdn1.fireworktv.com/medias/2021/11/8/1636362705-ipaomwbd/watermarked/540/GrowthProteinShampooConditioner_1.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="video">
          <video
            width="248px"
            height="420px"
            poster="https://cdn1.fireworktv.com/medias/2021/11/8/1636363454-niyqtaeo/240_400/BVO-Perfume2.jpg.62.webp"
            loop
            preload="none"
            muted
          >
            <source
              src="https://cdn1.fireworktv.com/medias/2021/11/8/1636362841-ufawcmed/watermarked/540/BellaVita-Perfume-Version2.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="video">
          <video
            width="248px"
            height="420px"
            poster="https://cdn1.fireworktv.com/medias/2021/11/2/1635842573-ijltpnqh/240_400/Kumkumadioil.jpg.62.webp"
            loop
            preload="none"
            muted
          >
            <source
              src="https://cdn1.fireworktv.com/medias/2021/11/2/1635839260-ecwhnmzv/watermarked/540/bulk_import_50887407-1635838673-gdrive-1-5_1_4.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="video">
          <video
            width="248px"
            height="420px"
            poster="https://cdn1.fireworktv.com/medias/2021/11/2/1635841929-zyftbxpn/480_800/ChakraCleanseBodyWash.jpg.62.webp 2x"
            loop
            preload="none"
            muted
          >
            <source
              src="https://cdn1.fireworktv.com/medias/2021/11/2/1635839716-etaskjlg/watermarked/540/1-ChakraCleanseBodyWash-Version2.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="video">
          <video
            width="248px"
            height="420px"
            poster="https://cdn1.fireworktv.com/medias/2021/11/2/1635843748-tafhyrds/240_400/candles.jpg.62.webp"
            loop
            preload="none"
            muted
          >
            <source
              src="https://cdn1.fireworktv.com/medias/2021/11/2/1635838729-qlnbueik/watermarked/540/6-Candles-Version2.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="video">
          <video
            width="248px"
            height="420px"
            poster="https://cdn1.fireworktv.com/medias/2021/11/2/1635840869-pmhzilnd/240_400/eyelift.jpg.62.webp"
            loop
            preload="none"
            muted
          >
            <source
              src="https://cdn1.fireworktv.com/medias/2021/11/2/1635839711-akjzmfqs/watermarked/540/2-Eyelift-Version2.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="video">
          <video
            width="248px"
            height="420px"
            poster="https://cdn1.fireworktv.com/medias/2021/11/2/1635842121-pujaigkx/240_400/glowbrow.jpg.62.webp"
            loop
            preload="none"
            muted
          >
            <source
              src="https://cdn1.fireworktv.com/medias/2021/11/2/1635839140-fmkqrhgd/watermarked/540/bulk_import_50887407-1635838673-gdrive-1-5_1_3.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="video">
          <video
            width="248px"
            height="420px"
            poster="	https://cdn1.fireworktv.com/medias/2021/11/2/1635840582-hndesflr/240_400/1.jpg.62.webp"
            loop
            preload="none"
            muted
          >
            <source
              src="https://cdn1.fireworktv.com/medias/2021/11/2/1635839707-phktnlsq/watermarked/540/5-NightGlow-Version2.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="video">
          <video
            width="248px"
            height="420px"
            poster="https://cdn1.fireworktv.com/medias/2021/11/2/1635842573-ijltpnqh/240_400/Kumkumadioil.jpg.62.webp"
            loop
            preload="none"
            muted
          >
            <source
              src="https://cdn1.fireworktv.com/medias/2021/11/2/1635839260-ecwhnmzv/watermarked/540/bulk_import_50887407-1635838673-gdrive-1-5_1_4.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
    </div>
    <!-- slider2 -->
    <div class="headHr1">
      <span></span>
      <p class="me">MEDIA COVERAGE</p>
      <span></span>
      <p class="we">
        We feel immensely elated to be featured in some of the top dailies
      </p>
    </div>
    <div class="carousel1" data-flickity='{ "autoPlay": true }'>
      <div class="carousel-cell1">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/9_eb36c174-6649-4db2-979b-26a0097c4e0b.jpg?v=1608532284"
          alt=""
        />
        <p>
          "Bella Vita Organic - A perfect fusion of 4 leading skincare &
          wellness brands"
        </p>
      </div>
      <div class="carousel-cell1">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/300-120-2.png?v=1615878594"
          alt=""
        />
        <p>
          " Swrilster Picks Bella Vita Organic Vitamin C Face Wash in their best
          vitamin C face washes list"
        </p>
      </div>
      <div class="carousel-cell1">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/buzzfeed.jpg?v=1619878966"
          alt=""
        />
        <p>
          "21 Best-Selling Skincare Products from Bella Vita Organic featured on
          Buzzfeed"
        </p>
      </div>
      <div class="carousel-cell1">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/popxo.jpg?v=1623407109"
          alt=""
        />
        <p>
          "POPxo Features Bella Vita Organic De-Tan Face Brightening Pack in Top
          10 Face Packs for Oily Skin List"
        </p>
      </div>
      <div class="carousel-cell1">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/indiacom.jpg?v=1623407304"
          alt=""
        />
        <p>"India.com Reviews Bella Vita Organic Face Packs"</p>
      </div>
      <div class="carousel-cell1">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/2_5d6ac0b4-15b1-41e7-bece-e33bf7d56d90.jpg?v=1625128340"
          alt=""
        />
        <p>"All Natures Secrets Hidden In Their Eco Friendly Jars"</p>
      </div>
      <div class="carousel-cell1">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/indiacom.jpg?v=1623407304"
          alt=""
        />
        <p>"Beauty with Benefits. Look Good & Feel Good."</p>
      </div>
      <div class="carousel-cell1">
        <img
          src="	https://cdn.shopify.com/s/files/1/0054/6665/2718/files/bazaar3_png.jpg?v=1625127830"
          alt=""
        />
        <p>"A Bride's Pre-Wedding Essential"</p>
      </div>
      <div class="carousel-cell1">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/ELLE_png.jpg?v=1625128359"
          alt=""
        />
        <p>"Smells Devine"</p>
      </div>
      <div class="carousel-cell1">
        <img
          src="	https://cdn.shopify.com/s/files/1/0054/6665/2718/files/pinkvila.jpg?v=1625128328"
          alt=""
        />
        <p>
          "Bella Vita Organic Aroma Candles Featured in Pinkvilla's Favorites
          Scented Candle List"
        </p>
      </div>
      <div class="carousel-cell1">
        <img
          src="	https://cdn.shopify.com/s/files/1/0054/6665/2718/files/hindustan-times.png?v=1625125979"
          alt=""
        />
        <p>
          "Bella Vita Organic - A perfect fusion of 4 leading skincare &
          wellness brands"
        </p>
      </div>
      <div class="carousel-cell1">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/your_story_4b9cc306-60af-41f6-b167-d6ba77734e92.png?v=1625125043"
          alt=""
        />
        <p>
          "YourStory Features the Success Story of Bella Vita Organic, the dream
          project of the Anand Family"
        </p>
      </div>
      <div class="carousel-cell1">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/the-india-express.png?v=1625125064"
          alt=""
        />
        <p>"A Unique Brand Indeed. Effective Products, Natural Ingredient"s</p>
      </div>
    </div>

    <!-- mujaffar -->

    <div class="sticky-view"></div>

    <div class="main-container">
      <!-- best seller products -->
      <div class="best-seller-slide">
        <div class="s-tag">
          <span></span>
          <h3>BEST SELLERS</h3>
          <span></span>
        </div>
        <div class="leftside l_btn">
          <img
            src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/angle-left-512.png"
            alt=""
          />
        </div>
        <div class="item-slider-div"></div>
        <div class="rightside r_btn">
          <img
            src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/angle-right-512.png"
            alt=""
          />
        </div>
      </div>

      <!-- new Arrival products -->
      <div class="best-seller-slide">
        <div class="s-tag">
          <span></span>
          <h3>NEW ARRIVALS</h3>
          <span></span>
        </div>

        <div class="leftside l_btn">
          <img
            src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/angle-left-512.png"
            alt=""
          />
        </div>
        <div class="item-slider-div"></div>
        <div class="rightside r_btn">
          <img
            src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/angle-right-512.png"
            alt=""
          />
        </div>
      </div>

      <!-- combo products -->
      <div class="best-seller-slide">
        <div class="s-tag">
          <span></span>
          <h3>COMBO SETS</h3>
          <span></span>
        </div>
        <div class="leftside l_btn">
          <img
            src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/angle-left-512.png"
            alt=""
          />
        </div>
        <div class="item-slider-div"></div>
        <div class="rightside r_btn">
          <img
            src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/angle-right-512.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="cust-review">
      <!-- customer review  -->
      <h3>MORE LOVE FOR BELLA VITA ORGANIC</h3>
      <div class="image">
        <img
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/6.png?v=1603863416"
          alt=""
        />
      </div>
      <div class="cust-text">
        <span
          >Hi everyone, I got this nicolips scrub from @bellavita.organic it is
          the best scrub for dark and dry , chapped lips.</span
        >
        <p>
          Hi everyone, I got this nicolips scrub from @bellavita.organic it is
          the best scrub for dark and dry , chapped lips . Bella Vita Organic’s
          NicoLips is the perfect natural & chemical free solution for flawless
          pink/red lips free of dark spots and nicotine marks. Nicolip Scrub is
          both an exfoliating
        </p>
        <h5>MASAI</h5>
        <img src="/images/home/rev-0.jpg" alt="" />
      </div>
    </div>

    <!-- bella cash -->
    <div id="mainBox">
      <div>
        <span></span>
        <p class="reward_bec">Become part of our exclusive Bella Cash!</p>
        <span></span>
      </div>
      <p class="excl">Exclusive rewards, birthday gifts and more</p>
      <div id="chotu">
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/bella-cash_dafd0a8c-40db-4561-af25-b7db3020c017-removebg-preview.png"
            />
          </div>
          <p class="chotupara">Create your account</p>
          <p class="chotupara1">Earn 200 Coins</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/bella-cash_dafd0a8c-40db-4561-af25-b7db3020c0171-removebg-preview.png"
            />
          </div>
          <p class="chotupara">Place an rder</p>
          <p class="chotupara1">Rs.1 Spent = 1 Coin</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/bella-cash_dafd0a8c-40db-4561-af25-b7db3020c0172-removebg-preview.png"
            />
          </div>
          <p class="chotupara">Celebrate Birthday</p>
          <p class="chotupara1">Earn 200 Coins</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/bella-cash_dafd0a8c-40db-4561-af25-b7db3020c0173-removebg-preview.png"
            />
          </div>
          <p class="chotupara">Follow an Instagram</p>
          <p class="chotupara1">Earn 100 Coins</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/bella-cash_dafd0a8c-40db-4561-af25-b7db3020c0174-removebg-preview.png"
            />
          </div>
          <p class="chotupara">Like on Facebook</p>
          <p class="chotupara1">Earn 100 Coins</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/bella-cash_dafd0a8c-40db-4561-af25-b7db3020c0175-removebg-preview.png"
            />
          </div>
          <p class="chotupara">Follow on Twitter</p>
          <p class="chotupara1">Earn 100 Coins</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/bella-cash_dafd0a8c-40db-4561-af25-b7db3020c0176-removebg-preview.png"
            />
          </div>
          <p class="chotupara">Share on Twitter</p>
          <p class="chotupara1">Earn 50 Coins</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/bella-cash_dafd0a8c-40db-4561-af25-b7db3020c017678-removebg-preview.png"
            />
          </div>
          <p class="chotupara">Share on Facebook</p>
          <p class="chotupara1">Earn 50 Coins</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/bella-cash_dafd0a8c-40db-4561-af25-b7db3020c01788-removebg-preview.png"
            />
          </div>
          <p class="chotupara">Refer a Friend</p>
          <p class="chotupara1">Earn 50 Coins</p>
        </div>
      </div>
    </div>

    <div id="Box">
      <p class="reward_bec">How To Redeem</p>
      <div id="dishu">
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/redeem5-removebg-preview.png"
            />
          </div>

          <p class="chotupara1">10% off Coupen For 500<br />Coins</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/redeem5-removebg-preview.png"
            />
          </div>

          <p class="chotupara1">Rs.100 Of Coupen for 1000 <br />Coins</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/redeem5-removebg-preview.png"
            />
          </div>

          <p class="chotupara1">Rs. 250 of Coupen For 2500 <br />Coins</p>
        </div>
        <div class="chotu1">
          <div class="chotu3">
            <img
              class="chotuimg"
              src="./images/home/redeem5-removebg-preview.png"
            />
          </div>

          <p class="chotupara1">Rs. 500 coupen for 5000 <br />Coins</p>
        </div>
      </div>
      <button id="butt">SIGN UP</button>
    </div>

    <div id="BBox">
      <p class="reward_bec">SHOPPING SIMPLIFED</p>
      <p>Download the app and enjoy stress free shopping</p>

      <div class="BBOx2">
        <img
          id="imm"
          src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/Mobile_App_Mockup_1.png?v=17147014433536528229"
        />
      </div>
      <div class="BBOx2 nxtb">
        <div id="divvv2">
          <div>
            <div>
              <ion-icon class="iii1" name="checkmark-circle-outline"></ion-icon>
            </div>
            <div><p class="iii">Pocket-friendly shopping. Literally!</p></div>
          </div>

          <div>
            <div>
              <ion-icon class="iii1" name="checkmark-circle-outline"></ion-icon>
            </div>
            <div><p class="iii">Fast and user-friendly interface</p></div>
          </div>

          <div>
            <div>
              <ion-icon class="iii1" name="checkmark-circle-outline"></ion-icon>
            </div>
            <div>
              <p class="iii">Easy browsing, with a swipe-through catalogue</p>
            </div>
          </div>

          <div>
            <div>
              <ion-icon class="iii1" name="checkmark-circle-outline"></ion-icon>
            </div>

            <div>
              <p class="iii">
                Pinch, tap, zoom or scroll for convenient shopping
              </p>
            </div>
          </div>

          <div>
            <div>
              <ion-icon class="iii1" name="checkmark-circle-outline"></ion-icon>
            </div>
            <div><p class="iii">Personalised Experience</p></div>
          </div>

          <div>
            <div>
              <ion-icon class="iii1" name="checkmark-circle-outline"></ion-icon>
            </div>

            <div><p class="iii">100% Safe & Secure Payment</p></div>
          </div>
          <div id="divvv">
            <img
              src="https://cdn.shopify.com/s/files/1/0439/5456/9367/files/1.png?v=1602914357"
              alt=""
            />
            <img
              src="https://cdn.shopify.com/s/files/1/0439/5456/9367/files/2_1.png?v=1602914345"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include("footer"); %>
    <script>
      let user_id = "<%- user_id %>";
      console.log("user_id:", user_id);
      if (user_id != "null") {
        localStorage.setItem("uid", user_id);
      }
    </script>
  </body>
  <!-- vaibhav slider -->
  <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    var figure = $(".video").hover(hoverVideo, hideVideo);

    function hoverVideo(e) {
      $("video", this).get(0).play();
    }

    function hideVideo(e) {
      $("video", this).get(0).pause();
    }
  </script>
  <script src="/js/landingPageSlider.js"></script>
  <script src="/js/landingPage.js"></script>
</html>
