<div id="header_div">
  <div id="top_banner">
    <div id="top_banner_container">
      <div id="click_here">
        <p id="top_banner_title">Flexi Box Buy Any 4 Products At ₹ 999</p>
        <button id="click_here_btn">CLICK HERE</button>
      </div>
      <div id="download">
        <p id="top_banner_title">Download Our APP</p>
        <i class="fa fa-android banner_icons"></i>
        <i class="fa fa-apple banner_icons"></i>
      </div>
    </div>
  </div>
  <header id="navbar">
    <span class="vab"><ion-icon name="menu-outline"></ion-icon></span>
    <div id="company_logo">
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 520.5 99.2"
        style="enable-background: new 0 0 520.5 99.2"
        xml:space="preserve"
        itemprop="logo"
      >
        <g>
          <path
            d="M19.3,18.5c3.4,0,6.1,0.8,8,2.4c1.9,1.6,2.8,3.9,2.8,6.7c0,1.7-0.4,3.1-1.1,4.3c-0.7,1.2-1.6,2.1-2.7,2.7
		c4.4,1.3,6.6,4.2,6.6,8.5c0,3.1-1.1,5.5-3.2,7.2c-2.1,1.7-4.8,2.6-8.2,2.6h-15V18.5H19.3L19.3,18.5z M20.5,37.8h-8.1v9.7h8.5
		c1.9,0,3.4-0.4,4.5-1.3c1.1-0.9,1.6-2.1,1.6-3.6c0-1.6-0.6-2.8-1.7-3.6C24.2,38.3,22.6,37.8,20.5,37.8L20.5,37.8z M18.5,23.8h-6.1
		v9.1h6.4c1.7,0,3-0.4,3.9-1.3c1-0.9,1.4-1.9,1.4-3.3c0-1.4-0.5-2.5-1.5-3.3C21.8,24.2,20.4,23.8,18.5,23.8L18.5,23.8z M59.7,18.5
		v5.4H43.8v9.1h13.9V38H43.8v9.5h13.7l2.5,5.4H37.9V18.5H59.7L59.7,18.5z M71.1,18.5v29.2h12.2l3.4,5.2H65.3V18.5H71.1L71.1,18.5z
		 M96.7,18.5v29.2h12.2l3.4,5.2H90.8V18.5H96.7L96.7,18.5z M192.4,18.5l-16.3,34.9h-0.2l-16.4-34.9h6.4L176,41l10-22.5H192.4
		L192.4,18.5z M202.3,18.5v34.4h-5.9V18.5H202.3L202.3,18.5z M235.8,18.5v5.2h-11.7v29.2h-5.9V23.7h-11.7v-5.2H235.8L235.8,18.5z
		 M289.5,23c3.3-3.4,7.5-5.1,12.5-5.1c5,0,9.2,1.7,12.5,5.1c3.3,3.4,5,7.6,5,12.7c0,5.2-1.7,9.4-5,12.8c-3.3,3.4-7.5,5-12.5,5
		c-5.1,0-9.2-1.7-12.5-5c-3.3-3.4-5-7.6-5-12.8C284.5,30.6,286.1,26.4,289.5,23L289.5,23z M302,23.3c-3.4,0-6.2,1.2-8.3,3.5
		c-2.1,2.3-3.2,5.3-3.2,8.9c0,3.6,1.1,6.6,3.2,8.9c2.2,2.3,4.9,3.5,8.3,3.5c3.4,0,6.2-1.2,8.3-3.5c2.2-2.3,3.2-5.3,3.2-8.9
		c0-3.6-1.1-6.6-3.2-8.9C308.2,24.4,305.4,23.3,302,23.3L302,23.3z M336.9,18.5c3.5,0,6.4,1,8.7,2.9c2.3,1.9,3.5,4.6,3.5,8
		c0,2.4-0.6,4.4-1.8,6.1c-1.2,1.7-3.3,3-6.2,3.9l9.6,13.5h-6.8l-13.6-17.2l0.1,4.6v12.6h-5.8V18.5H336.9L336.9,18.5z M336.4,23.6h-6
		v11.6h6c2.1,0,3.7-0.5,4.9-1.5c1.2-1,1.8-2.4,1.8-4.3c0-1.8-0.6-3.3-1.8-4.3C340.1,24.1,338.5,23.6,336.4,23.6L336.4,23.6z
		 M370.7,35.8h15.8c0,0.2,0,0.5,0,1c0,1.1,0.1,1.8,0.1,2.2c0,4.7-1.3,8.4-4.1,11c-2.7,2.6-6.4,3.9-11,3.9c-2.7,0-5.2-0.4-7.3-1.2
		c-2.1-0.8-4-2-5.6-3.7c-1.6-1.6-2.8-3.5-3.7-5.7c-0.8-2.2-1.3-4.5-1.3-7c0-2.5,0.4-4.9,1.3-7c0.9-2.1,2.1-4,3.8-5.7
		c1.6-1.6,3.5-2.8,5.7-3.7c2.2-0.8,4.5-1.3,7.1-1.3c2.3,0,4.5,0.5,6.6,1.4c2.1,1,3.9,2.4,5.6,4.4l-4,3c-1.1-1.3-2.4-2.3-3.8-2.9
		c-1.4-0.6-2.8-1-4.3-1c-3.6,0-6.6,1.2-8.9,3.5c-2.3,2.3-3.4,5.3-3.4,9.1c0,3.8,1.1,6.9,3.4,9.2c2.3,2.3,5.3,3.5,8.9,3.5
		c2.8,0,5.1-0.7,6.9-2.2c1.8-1.5,2.7-3.4,2.7-5.9v-0.5h-6.9L370.7,35.8L370.7,35.8z M453.7,18.5v35h-0.2l-21-22v21.4h-5.9v-35h0.2
		l21,21.9V18.5H453.7L453.7,18.5z M466.8,18.5v34.4H461V18.5H466.8L466.8,18.5z M489.4,17.9c4.9,0,9,1.7,12.3,5.1l-3.7,4.2
		c-2.3-2.6-5.2-3.9-8.6-3.9c-3.4,0-6.2,1.2-8.4,3.5c-2.1,2.3-3.2,5.3-3.2,9c0,3.6,1.1,6.6,3.2,8.9c2.1,2.3,4.9,3.5,8.4,3.5
		c3.5,0,6.5-1.4,8.8-4.1l3.7,4.3c-3.2,3.5-7.3,5.2-12.4,5.2c-5.1,0-9.3-1.7-12.6-5.1c-3.3-3.4-4.9-7.6-4.9-12.7
		c0-5.2,1.6-9.4,4.9-12.8C480.2,19.6,484.3,17.9,489.4,17.9L489.4,17.9z"
          ></path>
          <polygon
            points="113,53 129.3,18 129.5,18 145.8,53 139.4,53 129.4,30.5 119.3,53 113,53 	"
          ></polygon>
          <polygon
            points="235.2,53 251.6,18 251.7,18 268.1,53 261.7,53 251.6,30.5 241.6,53 235.2,53 	"
          ></polygon>
          <polygon
            points="388.6,53 404.9,18 405.1,18 421.5,53 415,53 405,30.5 395,53 388.6,53 	"
          ></polygon>
          <path
            d="M501.3,12.6c0,3.6,2.8,6.5,6.3,6.5c3.5,0,6.3-2.9,6.3-6.5c0-3.6-2.8-6.5-6.3-6.5C504.1,6.2,501.3,9.1,501.3,12.6
		L501.3,12.6z M502.5,12.6c0-3,2.2-5.3,5-5.3c2.8,0,5,2.3,5,5.3s-2.2,5.2-5,5.2C504.7,17.9,502.5,15.6,502.5,12.6L502.5,12.6z
		 M505.4,15.9h1.3v-2.6h1.1l1.2,2.6h1.4l-1.3-2.5c-0.2-0.3-0.2-0.4-0.2-0.4v0c0.5-0.1,1.2-0.7,1.2-1.8c0-1.2-0.8-2-2.1-2h-2.6V15.9
		L505.4,15.9z M506.6,12.4v-2.2h1.1c0.7,0,1.1,0.4,1.1,1.1c0,0.7-0.4,1.1-1.1,1.1H506.6L506.6,12.4z"
          ></path>
          <path
            d="M91.3,85.7h3.4v-8.3c0-0.9,0.1-1.7,0.3-2.4c0.7-2.5,2.9-4.3,5.6-4.3c2.8,0,3.3,2,3.3,4.4v10.5h3.4V74.4
		c0-4.5-1.9-6.8-6.1-6.8c-3.8,0-5.9,2.5-6.6,4h-0.1c0,0,0.1-0.6,0.1-1.3V68h-3.3V85.7L91.3,85.7z M114.4,76.9c0,5.2,3.8,9.2,9.4,9.2
		c4.2,0,6.8-2.5,6.8-2.5l-1.4-2.5c0,0-2.2,2.1-5.2,2.1c-3.1,0-5.9-2-6.1-5.8h12.9c0,0,0.1-1,0.1-1.5c0-4.6-2.7-8.3-7.6-8.3
		C118.3,67.6,114.4,71.3,114.4,76.9L114.4,76.9z M118,74.8c0.5-2.9,2.6-4.5,5.2-4.5c2.3,0,4.2,1.5,4.3,4.5H118L118,74.8z M142,85.7
		h3.8l3.6-11.3c0.3-0.9,0.5-1.9,0.5-1.9h0.1c0,0,0.2,1,0.5,1.9l3.7,11.3h3.7l5.7-17.7h-3.6l-3.7,12.4c-0.3,0.9-0.4,1.9-0.4,1.9h-0.1
		c0,0-0.2-1-0.5-1.9L151.4,68h-3.1l-3.8,12.4c-0.3,0.9-0.5,1.9-0.5,1.9H144c0,0-0.2-1-0.5-1.9L139.9,68h-3.6L142,85.7L142,85.7z
		 M177.6,80.8c0,3.5,3,5.4,6,5.4c4.2,0,5.7-3.5,5.7-3.5h0.1c0,0-0.1,0.6-0.1,1.4v1.7h3.1V74.5c0-4.5-2.5-6.9-7-6.9
		c-4,0-6.6,2.1-6.6,2.1l1.4,2.5c0,0,2.2-1.7,4.9-1.7c2.2,0,3.9,1,3.9,3.9v0.3h-0.8C185.2,74.7,177.6,74.9,177.6,80.8L177.6,80.8z
		 M181,80.6c0-3.2,4.6-3.4,7.2-3.4h0.9v0.6c0,2.6-1.8,5.6-4.7,5.6C182.1,83.4,181,82,181,80.6L181,80.6z M202.3,88.9l-1.1,2.7
		c1.7,0.9,3.9,1.5,6,1.5c4.5,0,8.9-2.2,8.9-8.1V68h-3.2v1.6c0,0.3,0,0.6,0,0.6h-0.1c0,0-1.3-2.6-5.5-2.6c-4.9,0-7.7,3.8-7.7,8.8
		c0,5.1,3,9,7.9,9c2.5,0,4.2-1,5.2-2.8h0.1c0,0,0,0.6,0,1.1v1.3c0,3.6-2.5,5-5.6,5C204.5,90.1,202.3,88.9,202.3,88.9L202.3,88.9z
		 M208.1,82.6c-3.2,0-5.1-2.5-5.1-6.2c0-3.6,1.7-5.8,4.8-5.8c2.8,0,5,1.3,5,5.9C212.8,81.1,210.5,82.6,208.1,82.6L208.1,82.6z
		 M223.5,76.9c0,5.2,3.8,9.2,9.4,9.2c4.2,0,6.8-2.5,6.8-2.5l-1.4-2.5c0,0-2.2,2.1-5.2,2.1c-3.1,0-5.9-2-6.1-5.8h12.9
		c0,0,0.1-1,0.1-1.5c0-4.6-2.7-8.3-7.6-8.3C227.3,67.6,223.5,71.3,223.5,76.9L223.5,76.9z M227,74.8c0.5-2.9,2.6-4.5,5.2-4.5
		c2.3,0,4.2,1.5,4.3,4.5H227L227,74.8z M254.9,80.8c0,3.5,3,5.4,6,5.4c4.2,0,5.7-3.5,5.7-3.5h0.1c0,0-0.1,0.6-0.1,1.4v1.7h3.1V74.5
		c0-4.5-2.5-6.9-7-6.9c-4,0-6.6,2.1-6.6,2.1l1.4,2.5c0,0,2.2-1.7,4.9-1.7c2.2,0,3.9,1,3.9,3.9v0.3h-0.8
		C262.5,74.7,254.9,74.9,254.9,80.8L254.9,80.8z M258.3,80.6c0-3.2,4.6-3.4,7.2-3.4h0.9v0.6c0,2.6-1.8,5.6-4.7,5.6
		C259.4,83.4,258.3,82,258.3,80.6L258.3,80.6z M275.5,92c0,0,1.4,1.1,3.4,1.1c2.5,0,4.6-1.4,5.7-4.2l8.3-20.8h-3.7L285,79.6
		c-0.3,0.9-0.6,2.1-0.6,2.1h-0.1c0,0-0.3-1.2-0.7-2.1L279.2,68h-3.8l7.4,17.5l-0.9,2c-0.7,1.6-1.8,2.6-3.2,2.6
		c-1.1,0-2.1-0.7-2.1-0.7L275.5,92L275.5,92z M298.8,79.4c0,4.7,2.1,6.8,6,6.8c3.5,0,5.8-2.3,6.5-4h0.1c0,0-0.1,0.6-0.1,1.3v2.3h3.3
		V68h-3.4v8.3c0,3.5-2.1,6.7-5.7,6.7c-2.8,0-3.3-2-3.3-4.4V68h-3.4V79.4L298.8,79.4z M323.2,85.7h3.4v-7.2c0-1.1,0.1-2.2,0.4-3.2
		c0.8-2.6,2.8-4.2,5-4.2c0.5,0,1,0.1,1,0.1v-3.4c0,0-0.4-0.1-0.9-0.1c-2.7,0-4.8,2-5.6,4.6h-0.1c0,0,0.1-0.6,0.1-1.3V68h-3.3V85.7
		L323.2,85.7z M343.8,85.7h3.9l6.5-17.7h-3.6L346.4,80c-0.3,1-0.6,2.4-0.6,2.4h-0.1c0,0-0.2-1.4-0.6-2.4L340.8,68h-3.6L343.8,85.7
		L343.8,85.7z M359.2,76.9c0,5.2,3.8,9.2,9.4,9.2c4.2,0,6.8-2.5,6.8-2.5l-1.4-2.5c0,0-2.2,2.1-5.2,2.1c-3.1,0-5.9-2-6.1-5.8h12.9
		c0,0,0.1-1,0.1-1.5c0-4.6-2.7-8.3-7.6-8.3C363,67.6,359.2,71.3,359.2,76.9L359.2,76.9z M362.8,74.8c0.5-2.9,2.6-4.5,5.2-4.5
		c2.3,0,4.2,1.5,4.3,4.5H362.8L362.8,74.8z M381.9,76.9c0,5.5,3,9.2,7.8,9.2c4.4,0,5.8-3.3,5.8-3.3h0.1c0,0,0,0.5,0,1.2v1.7h3.2
		V61.1h-3.4v8.2c0,0.7,0.1,1.2,0.1,1.2h-0.1c0,0-1.4-2.8-5.4-2.8C385.2,67.6,381.9,71.3,381.9,76.9L381.9,76.9z M385.4,76.9
		c0-4,2.3-6.3,5.1-6.3c3.4,0,5,3.1,5,6.3c0,4.5-2.5,6.4-5.1,6.4C387.4,83.2,385.4,80.7,385.4,76.9L385.4,76.9z M405.9,80.8
		c0,3.5,3,5.4,6,5.4c4.2,0,5.7-3.5,5.7-3.5h0.1c0,0-0.1,0.6-0.1,1.4v1.7h3.1V74.5c0-4.5-2.5-6.9-7-6.9c-4,0-6.6,2.1-6.6,2.1l1.4,2.5
		c0,0,2.2-1.7,4.9-1.7c2.2,0,3.9,1,3.9,3.9v0.3h-0.8C413.6,74.7,405.9,74.9,405.9,80.8L405.9,80.8z M409.3,80.6
		c0-3.2,4.6-3.4,7.2-3.4h0.9v0.6c0,2.6-1.8,5.6-4.7,5.6C410.4,83.4,409.3,82,409.3,80.6L409.3,80.6z"
          ></path>
        </g>
      </svg>
    </div>
    <div id="header_items">
      <div id="header_items_top">
        <div>
          <p class="un" id="header_all_pro">ALL PRODUCTS</p>
        </div>
        <div>
          <p class="un">BESTSELLERS</p>
        </div>
        <div>
          <p class="un">OFFERS</p>
        </div>
        <div>
          <p class="un">SELFIE SWITCH</p>
        </div>
        <div>
          <p class="un">BUILD A BOX</p>
        </div>
        <div id="header_category">
          <p class="un">BY CATEGORY</p>
          <div class="dropdown_div">
            <div class="dropdown_div_content">
              <p>Skin Care</p>
            </div>
            <div class="dropdown_div_content"><p>Hair Care</p></div>
            <div class="dropdown_div_content"><p>Face Care</p></div>
            <div class="dropdown_div_content"><p>Body Care</p></div>
            <div class="dropdown_div_content"><p>Essential Oils</p></div>
            <div class="dropdown_div_content"><p>Perfumes</p></div>
            <div class="dropdown_div_content"><p>Natural Soaps</p></div>
            <div class="dropdown_div_content"><p>Hair Com</p></div>
            <div class="dropdown_div_content"><p>Dry Skin</p></div>
          </div>
        </div>
        <div id="header_concern">
          <p class="un">BY CONCERN</p>
          <div class="dropdown_div">
            <div class="dropdown_div_content">
              <p>Acne & Pimples</p>
            </div>
            <div class="dropdown_div_content"><p>Oily Skin</p></div>
            <div class="dropdown_div_content"><p>Tanning</p></div>
            <div class="dropdown_div_content">
              <p>Underarm Lightening</p>
            </div>
            <div class="dropdown_div_content"><p>Blackheads</p></div>
            <div class="dropdown_div_content"><p>Body Odor</p></div>
            <div class="dropdown_div_content"><p>Hair Fall</p></div>
            <div class="dropdown_div_content"><p>Dandruff</p></div>
            <div class="dropdown_div_content"><p>Dry Skin</p></div>
            <div class="dropdown_div_content"><p>Sensitive Skin</p></div>
            <div class="dropdown_div_content"><p>Dull Skin</p></div>
            <div class="dropdown_div_content">
              <p>Blemishes & Pigmentation</p>
            </div>
          </div>
        </div>
        <div id="header_ingradients">
          <p class="un">BY INGRADIENT</p>
          <div class="dropdown_div">
            <div class="dropdown_div_content"><p>Aloevera</p></div>
            <div class="dropdown_div_content"><p>Coffee</p></div>
            <div class="dropdown_div_content"><p>Honey</p></div>
            <div class="dropdown_div_content"><p>Neem</p></div>
            <div class="dropdown_div_content"><p>Tea Tree</p></div>
            <div class="dropdown_div_content"><p>Sandalwood</p></div>
            <div class="dropdown_div_content"><p>Saffron</p></div>
            <div class="dropdown_div_content"><p>Coconut Oil</p></div>
            <div class="dropdown_div_content"><p>Rose</p></div>
            <div class="dropdown_div_content"><p>Shea Butter</p></div>
            <div class="dropdown_div_content"><p>Fuller's Earth</p></div>
            <div class="dropdown_div_content"><p>All Ingradients</p></div>
          </div>
        </div>
        <div id="header_combos">
          <p class="un">COMBOS</p>
          <div class="dropdown_div">
            <div class="dropdown_div_content"><p>Combos</p></div>
            <div class="dropdown_div_content"><p>Gifts</p></div>
          </div>
        </div>
      </div>
      <div id="header_items_bottom">
        <div>
          <p class="un">OUR CELEBRITIES</p>
        </div>
        <div>
          <p class="un">NATURAL SOAPS</p>
        </div>
        <div id="header_more">
          <p class="un">MORE</p>
          <div class="dropdown_div">
            <div class="dropdown_div_content"><p>Aloevera</p></div>
            <div class="dropdown_div_content"><p>Coffee</p></div>
            <div class="dropdown_div_content"><p>Honey</p></div>
            <div class="dropdown_div_content"><p>Neem</p></div>
            <div class="dropdown_div_content"><p>Tea Tree</p></div>
            <div class="dropdown_div_content"><p>Sandalwood</p></div>
            <div class="dropdown_div_content"><p>Saffron</p></div>
          </div>
        </div>
      </div>
    </div>
    <div id="header_icons">
      <i class="bi bi-search" id="header_search"></i>
      <i class="bi bi-person" id="header_admin"></i>
      <div id="cart_icon_div">
        <i class="bi bi-cart3" id="header_cart"></i>
        <div id="header_qty">
          <p id="header_cart_qty">0</p>
        </div>
      </div>
    </div>
  </header>
  <div id="mySidenav_login" class="sidenav">
    <div class="closebtn">
      <p class="close"><span>&times;</span>close</p>
    </div>
    <div id="side_navbar_login">
      <p class="customer_login">CUSTOMER LOGIN:</p>
      <form id="form">
        <label class="login_form_label">Email Address <sup>*</sup></label
        ><br />
        <input type="text" placeholder="Email Address" id="email" /><br />
        <label class="login_form_label">Password <sup>*</sup></label
        ><br />
        <input type="password" placeholder="Password" id="pwd" />
        <p
          id="error_message"
          style="visibility: hidden; margin: 10px; color: red"
        ></p>
      </form>
      <button id="login_btn">LOGIN</button>
      <p class="forgot">Forgot your password?</p>
      <button id="create_acc_btn">CREATE AN ACCOUNT</button>
      <div id="google_div">
        <a
          class="btn-google"
          href="http://localhost:4000/auth/google"
        >
          <div class="google-content">
            <div class="google_logo">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 48 48"
              >
                <defs>
                  <path
                    id="a"
                    d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"
                  />
                </defs>
                <clipPath id="b">
                  <use xlink:href="#a" overflow="visible" />
                </clipPath>
                <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z" />
                <path
                  clip-path="url(#b)"
                  fill="#EA4335"
                  d="M0 11l17 13 7-6.1L48 14V0H0z"
                />
                <path
                  clip-path="url(#b)"
                  fill="#34A853"
                  d="M0 37l30-23 7.9 1L48 0v48H0z"
                />
                <path
                  clip-path="url(#b)"
                  fill="#4285F4"
                  d="M48 48L17 24l-4-3 35-10z"
                />
              </svg>
            </div>
            <p id="google_title">Sign in with Google</p>
          </div>
        </a>
      </div>
    </div>
    <div id="side_navbar_login_details">
      <p class="customer_login" id="login_name"></p>
      <p class="forgot">My Account</p>
      <button id="logout_btn">LOG OUT</button>
    </div>
  </div>
  <div id="mySidenav_cart" class="sidenav">
    <div class="closebtn">
      <p class="close"><span>&times;</span>close</p>
    </div>
    <div id="side_navbar_cart">
      <p class="customer_login">SHIPPING CART:</p>
      <div id="sidenav_cart_items"></div>
      <div id="amount_div">
        <span>Total:</span>
        <div id="total_price"></div>
      </div>
      <button id="checkout_btn">CHECK OUT</button>
      <button id="view_cart_btn">VIEW CART</button>
    </div>
    <div id="side_navbar_empty_cart">
      <p class="customer_login">SHOPPING CART:</p>
      <p class="forgot">Your cart is currently empty</p>
      <button id="continue_shop_btn">CONTINUE SHOPPING</button>
    </div>
  </div>
  <div id="search_box">
    <fieldset>
      <input
        type="text"
        placeholder="Start typing... Nicolips, Eyelift, Face Wash"
      />
      <button id="close_search">X</button>
    </fieldset>
  </div>
</div>
