<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy Ayurvedic & Natural Beauty Products Online | Bella Vita Organic</title>
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
     <link rel="stylesheet" href="/css/footer.css" />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="//cdn.shopify.com/s/files/1/0054/6665/2718/files/logo_02_32x32.png?v=1606307450"
      type="image/png"
    />
    <!-- bootstrap cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- <div id="header_div"></div> -->
    <%- include("navbar"); %>
    <!-- banner -->
    <div class="banner text-center mt-5">
      <img
        src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/offer_tester_desktop_1200x100_d9e5438e-5730-42aa-af35-ec0e860f5326.png?v=2399186300319365904"
        class="img-fluid"
        alt="Responsive image"
        id="img1"
      />
      <img
        src="https://cdn.shopify.com/s/files/1/0054/6665/2718/files/offer_tester_mobile_720x100_64f91a8f-1fa0-406e-82b9-925baebb7df5.png?v=3022890869075151276"
        class="img-fluid"
        alt="Responsive image"
        id="img2"
      />
    </div>
    <!-- container -->
    <div class="container-fluid">
      <h4 class="pt-4">NATURAL & AYURVEDIC BEAUTY CARE PRODUCTS</h4>
      <p class="pt-1 px-2">
        At Bella Vita Organic, we strive to provide the best non-toxic,
        ayurvedic, and natural beauty products online. Our journey has awarded
        us with unparalleled derma knowledge, which enabled us to build the best
        beauty product brand using premium close-to-nature botanicals and safe
        ingredients....
      </p>
      <button class="btn btn-light">READ MORE</button>
    </div>
    <!-- path -->
    <div class="path mt-5">
      <span class="home">Home </span>
      
      <span>Natural & Ayurvedic Beauty Care Products</span>
    </div>
    <!-- refine_by div -->
    <div class="tools">
      <div class="refine">
        <span class="icon">
          <ion-icon name="options-outline" size="large"></ion-icon>
        </span>
        <p>REFINE BY</p>
      </div>
      <!-- view grid -->
      <div class="view">
        <span class="">VIEW AS</span>
        <div class="one">
          <div ></div>
          <div ></div>
          <div ></div>
        </div>
        <div class="two">
          <div></div>
          <div></div>
        </div>
        
        <div  class="three">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div  class="four">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div  class="five">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <!-- sort functionality -->
      <div class="sort">
        <span class="srt">SORT BY</span>
        <div class="drop">
          <p class="">Featured</p>
          <p class="icon">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </p>
        </div>
      </div>
    </div>
    <!-- option -->
    <div class="options">
      <p class="fea">Featured</p>
      <p class="low">Price,low to high</p>
      <p class="high">Price,high to low</p>
      <p>Alphabetically,A-Z</p>
      <p>Alphabetically,Z-A</p>
      <p>Date,old to new</p>
      <p>Date,new to old</p>
      <p>Best Selling</p>
    </div>
    <!-- products container div -->
    <div class="box">
      <div class="left">
        <h4 class="ms-5 mt-1">CATEGORIES</h4>
        <hr />
        <p class="al mt-3"><i class="fas fa-chevron-right"></i> All Products</p>
        <p><i class="fas fa-chevron-right"></i>Bestsellers</p>
        <p><i class="fas fa-chevron-right"></i>Offers</p>
        <p><i class="fas fa-chevron-right"></i>SELFIE SWITCH</p>
        <p><i class="fas fa-chevron-right"></i>Build A Box</p>
        <!-- accordion by cataegory-->
        <div>
          <p class="CateAccord">
            By Category <i class="fas fa-angle-down"></i></ion-icon>
          </p>
        </div>
        <!-- subaccordion -->
        <div class="CateAccord1">
          <p class="skin_acc">Skin Care <i class="fas fa-angle-down"></i></ion-icon></p>
          <div class="skin_Sacc">
            <p>Oily Skin</p>
            <p>Dry Skin</p>
            <p>Sensitive Skin</p>
            <p>Dull Skin</p>
          </div>
          <p class="hair_acc">Hair Care <i class="fas fa-angle-down"></i></ion-icon></p>
          <div class="hair_Sacc">
            <p>Hair Damage </p>
            <p>Frizzy Hair</p>
          </div>
          <p class="face_acc">Face Care <i class="fas fa-angle-down"></i></ion-icon></p>
          <div class="face_Sacc">
            <p>Face Wash</p>
            <p>Face Scrub</p>
            <p>Face Cream</p>
            <p>Face Pack</p>
            <p>Under Eye Care</p>
            <p>Eye Brows</p>
            <p>Lip Care</p>
            <p>Skin Brightening</p>
          </div>
          <p class="body_acc">Body Care<i class="fas fa-angle-down"></i></ion-icon></p>
          <div class="body_Sacc">
            <p>Nail Care</p>
            <p>Nail Care</p>
            <p>Tanning</p>
          </div>
          <p>
            Essential Oils</i></ion-icon>
          </p>
          <p class="perfume_acc">Perfume <i class="fas fa-angle-down"></i></ion-icon></p>
          <div class="perfume_Sacc">
            <p>For Men</p>
            <p>For Women</p>
          </div>
          <p>Natural Soaps</i></ion-icon></p>
          <p>Hair Combs</i></ion-icon></p>
        </div>
        <!-- accordion by concern -->
        <div>
          <p class="ConcAccord">By Concern <i class="fas fa-angle-down"></i></p>
        </div>
        <!-- subaccordion -->
        <div class="ConcAccord1">
          <p>Acne & Pimples</p>
          <p>Oily Skin</p>
          <p>Tanning</p>
          <p>Underarm Lightning</p>
          <p>Blackheads</p>
          <p>Body Odor</p>
          <p>Hair Fall</p>
          <p>Dandruff</p>
          <p>Dry Skin</p>
          <p>Sensitive Skin</p>
          <p>Dull Skin</p>
          <p>Blemish & Pigmentation</p>
        </div>
            <!-- accordion by Ingredients -->
        <div>
          <p class="IngAccord">By Ingredients <i class="fas fa-angle-down"></i></p>
        </div>
             <!-- subaccordion -->
        <div class="IngAccord1">
          <p>Aloevera</p>
          <p>Coffee</p>
          <p>Honey</p>
          <p>Neem</p>
          <p>Tea Tree</p>
          <p>Sandalwood</p>
          <p>Saffron</p>
          <p>Coconut Oil</p>
          <p>Rose</p>
          <p>Shea Butter </p>
          <p>Fuller's Earth</p>
          <p>All Ingredients</p>
        </div>
           <!-- accordion by Combos -->
       <div>
        <p class="ComAccord">Combos <i class="fas fa-angle-down"></i></p>
      </div>
       <!-- subaccordion -->
       <div class="ComAccord1">
         <p>Combos</p>
         <p>Gifts</p>
       </div>
       <p class="marg">Our Celebrities</p>
       <p class="marg">Natural Soaps</p>
        <!-- accordion by More -->
       <div>
         <p class="MorAccord">More <i class="fas fa-angle-down"></i></p>
       </div>
           <!-- subaccordion -->   
        <div class="MorAccord1">
             <p>Blog</p>
             <p>Salon</p>
             <p>Order Tracking</p>
             <p>Contact Us</p>
             <p>Shipping Policy</p>
             <p>Terms and Conditions</p>
           </div>
      </div>

      <!-- products div -->
      <div class="right">

      </div>
    </div>
    <!-- //pagination div -->
    <div class="pagination">
        
      <div class="first" id="main_active" onclick="data(1,12)">1</div>
      <div class="first" onclick="data(2,12)">2</div>
      <div class="first" onclick="data(3,12)">3</div>
      <div class="first" onclick="data(4,12)">4</div>
     
    </div>
   <!-- on click buy now show current product highlighted  -->
  <div class="resDivImg">
   
     <div class="onBuyBtn">
      <div class="cross" onclick="closefun()"><ion-icon name="close-circle-outline"></ion-icon></div>
    <div class="Img_divv">
    </div>
    <div class="Info_divv">
      <div class="name">
 
      </div>
      <div class="brnd">
        <div class="br1">
          <span>Brand:</span> <span>Bella Vita Organic</span>
        </div>

        <div class="br2">
          <span>Product Code:</span> <span>BellaScrubGrit</span>
        </div>

        <div class="br3">
          <span>Availability:</span> <span> Many in stock</span>
        </div>
      </div>
      <div class="price">
        <div class="num"></div>
        <div>
          <span
            >or 4 interest-free payments of <strong>Rs. 62.25</strong> with
            <img
              src="https://cdn.sezzle.in/branding/2.0/Sezzle_Logo_FullColor.svg"
              alt="" class="img_res"
          /></span>
        </div>
        <div>
          <span
            >Our face and body accumulate a lot of unwanted particles on them
            that damage the skin over time. They settle on the ...</span
          >
        </div>
      </div>
      <div class="qty">
        <div>
          <p>Quantity:</p>
          <div class="counts">
            <div><ion-icon name="remove-outline"></ion-icon></div>
            <div>1</div>
            <div><ion-icon name="add-outline"></ion-icon></div>
          </div>
          <p class="currP"> </p>
          <button onclick="appdivOpen()">BUY NOW</button>
        </div >
        <div class="people">
          <div> <ion-icon name="eye"></ion-icon> </div>
          <div>38 customers are viewing this product</div>
        </div>
      </div>
    </div>
  </div></div>
  <div class="appdiv">
    <div class="appeardiv">
        <div class="imgd">
         
        </div>
        <div class="det">
          <div class="cross2" onclick="closefun1()">
            <ion-icon name="close-circle-outline"></ion-icon>
          </div>
          <div class="nmdiv">
          </div>
          <p>IS ADDED TO YOUR SHOPPING CART.</p>
          <div class="but">
            <button onclick="gotoCart()">GO TO CART</button>
            <button onclick="gotoCheck()">CHECK OUT</button>
          </div>
        </div>
      </div>
   </div>
   <!-- <footer></footer> -->
   <%- include("footer"); %>
    <!-- iconlink -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="/js/products.js"></script>
    <script src="/js/landingPage.js"></script>
  </body>
</html>
<script>
  let userId = localStorage.getItem("uid");
console.log("userid", userId);
console.log("hello");
// go to cart and go to checkout function
function gotoCart() {
  window.location.href = `http://localhost:4000/cart/${userId}`;
}
</script>
<!-- <script>data(1,12)</script> -->
