body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
#footermainbox {
  height: 600px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.futbox1 {
  height: 5em;
  width: 100%;
  background-color: #d5e0ea;
  color: #3c3c3c;
  display: inline-block;
  vertical-align: top;
  margin: auto;
}
.futbox1 img {
  padding-top: 0.1em;
}
.futbox1 img:hover {
  cursor: pointer;
}
#para {
  font-family: "Museo Sans", sans-serif;
  color: #000;
  font-weight: 500;
  text-align: left;
  letter-spacing: normal;
  margin-top: 2em;
  margin-left: 5em;
  display: inline-block;
  margin-right: 10em;
}

#futbox2 {
  height: 450px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: auto;
}
#play {
  display: inline-block;
  margin-left: 500px;
  margin-top: 10px;
  font-size: 70px;
  vertical-align: top;
}
#apple {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
  font-size: 80px;
  vertical-align: top;
}
.futbox3 {
  display: inline-block;
  text-align: left;
  margin-left: 3em;
  width: 10%;
  height: 448px;
  vertical-align: top;
  font-family: "Museo Sans", sans-serif;
  margin-top: 3em;
}
#futbox3_1 {
  margin-left: 9em;
  width: 12%;
}
.futbox3_content {
  color: #000;
  font-weight: 500;
}
.futbox3_content:hover {
  cursor: pointer;
  color: #6c757d;
}
.futbox3 p:first-child {
  font-size: 1em;
  font-weight: 600;
}
.hr {
  background-color: green;
  width: 30%;
  text-align: left;
  margin-left: 0;
  border: 0.5px solid green;
}
.futbox4 {
  display: inline-block;
  width: 20%;
  text-align: left;
  margin-left: 3em;
  height: 448px;
  vertical-align: top;
  font-family: "Museo Sans", sans-serif;
  margin-top: 3em;
}
.futbox4 p:first-child {
  font-size: 1em;
  font-weight: 600;
}

.icon_1 {
  letter-spacing: normal;
  margin-top: 20px;
  line-height: 20px;
  padding: 10px;
  text-align: left;
  font-size: 15px;
  font-weight: bolder;
  font-family: "Museo Sans", sans-serif;
}
.icon_1 > i {
  color: green;
  font-size: large;
  margin-right: 4px;
}
.icon_1:hover {
  color: green;
}
#h44 {
  line-height: 20px;
  letter-spacing: normal;
  font-family: "Museo Sans", sans-serif;
}
#inpu {
  width: 90%;
  margin-left: 5px;
  height: 2.5em;
  font-size: 1em;
  padding: 0;
  padding-left: 0.8em;
}
#inpu:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  border: 1px solid #7ea0d7;
  box-shadow: 0px 0px 10px #5b9dd9;
}

#but {
  width: 50%;
  height: 2.1em;
  background-color: black;
  color: white;
  margin-top: 20px;
  margin-right: 180px;
  margin-left: 0.2em;
  display: inline-block;
  vertical-align: top;
  font-family: sans-serif -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  border: none;
}
#but:hover {
  cursor: pointer;
}
#imgfut {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  width: 40%;
  margin-top: 1.5em;
  margin-left: 20px;
}
#icon2 {
  display: inline-flex;
  margin-left: 150px;
  font-size: 30px;
  vertical-align: top;
  margin-top: 0.8em;
  column-gap: 20px;
}
#icon2 i {
  color: black;
}
#icon2 i:hover {
  cursor: pointer;
}
#futtext {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-left: 4em;
  margin-top: 0.1em;
  display: inline-block;
  font-family: "Museo Sans", sans-serif;
}
.foot_icon {
  text-align: left;
  padding-left: 0;
}
.foot_icon span {
  margin: 0;
}

/* vaibhav css */
.footer {
  font-family: calibri;
  display: none;

  width: 360px;
}
.link {
  margin-bottom: 10px;
  display: flex;
  border: 1px solid rgb(204, 207, 205);
  padding: 11px;
  font-size: 18px;
  font-weight: bold;
}
.link div:nth-child(1) {
  margin-right: 160px;
  margin-top: 3px;
}
.link div:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
}
.google {
  background-color: #d5e0ea;
  padding: 15px;
  margin-bottom: 10px;
}
.google div:nth-child(1) {
  text-align: top;
  height: 30px;
  width: 80%;
  text-align: center;
}
.google div:nth-child(2) {
  padding: 7px;
}
.mac {
  margin-top: 10px;
}
.mac img {
  height: 35px;
}
.mac img:nth-child(1) {
  margin-left: 20px;
}
.folder {
  border: 0.1px solid rgb(202, 200, 200);

  font-size: 13px;
  padding: 12px;
}
.span {
  margin-right: 165px;
}
.span1 {
  margin-right: 185px;
}
.span2 {
  margin-right: 215px;
}
.span3 {
  margin-right: 195px;
}
.newslet {
  margin-top: 60px;
}
.newslet p:nth-child(1) {
  font-size: 15px;
  margin: 5px;
  font-weight: bold;
  color: rgb(66, 66, 66);
}
.newslet p:nth-child(2) {
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
  padding-right: 48px;
}
.newslet p:nth-child(3) {
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
  padding-right: 48px;
}
.newslet div {
  margin-top: 8px;
}
.newslet div input {
  padding: 6px;
  padding-right: 5px;
}
.newslet div button {
  padding: 7px;
  width: 110px;
  background-color: black;
  color: white;
  font-size: 11px;
  font-weight: bold;
}
::placeholder {
  font-size: 12px;
}
.logoes {
  margin-top: 10px;
  background-color: #d5e0ea;
}
.logoes div:nth-child(1) {
  padding-top: 15px;
}
.logoes div:nth-child(2) {
  padding-left: 55px;
  font-size: 21px;
}
.logoes div:nth-child(2) i {
  margin: 8px;
}
.logoes div:nth-child(3) {
  font-size: 12px;
  font-weight: bold;
  padding-left: 90px;
  padding-bottom: 8px;
}
@media screen and (max-width: 400px) {
  #footermainbox {
    display: none;
  }
  .footer {
    font-family: calibri;
    display: block;

    width: 360px;
  }
  .link {
    margin-bottom: 10px;
    display: flex;
    border: 1px solid rgb(204, 207, 205);
    padding: 11px;
    font-size: 18px;
    font-weight: bold;
  }
  .link div:nth-child(1) {
    margin-right: 160px;
    margin-top: 3px;
  }
  .link div:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
  }
  .google {
    background-color: #d5e0ea;

    margin-bottom: 10px;
  }
  .google div:nth-child(1) {
    text-align: top;
    height: 30px;
    width: 80%;
    text-align: center;
  }

  .mac {
    margin-top: 15px;
  }
  .mac img {
    height: 35px;
    margin: 0;
  }
  .mac img:nth-child(1) {
    margin-left: 20px;
  }
  .folder {
    border: 0.1px solid rgb(202, 200, 200);

    font-size: 13px;
    padding: 12px;
  }
  .span {
    margin-right: 140px;
  }
  .span1 {
    margin-right: 170px;
  }
  .span2 {
    margin-right: 200px;
  }
  .span3 {
    margin-right: 180px;
  }
  .newslet {
    padding: 5px;
    margin-top: 60px;
  }
  .newslet p:nth-child(1) {
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
    color: rgb(66, 66, 66);
  }
  .newslet p:nth-child(2) {
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    padding-right: 48px;
  }
  .newslet p:nth-child(3) {
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    padding-right: 48px;
  }
  .newslet div {
    margin-top: 8px;
  }
  .newslet div input {
    padding: 3px;
    padding-right: 5px;
  }
  .newslet div button {
    padding: 7px;
    width: 110px;
    background-color: black;
    color: white;
    font-size: 11px;
    font-weight: bold;
  }
  ::placeholder {
    font-size: 12px;
  }
  .logoes {
    margin-top: 10px;
    background-color: #d5e0ea;
  }
  .logoes div:nth-child(1) {
    padding-top: 25px;
  }
  .logoes div:nth-child(2) {
    padding-left: 55px;
    font-size: 21px;
  }
  .logoes div:nth-child(2) i {
    margin: 8px;
  }
  .logoes div:nth-child(3) {
    font-size: 12px;
    font-weight: bold;
    padding-left: 90px;
    padding-bottom: 8px;
  }
}
