/* banner_css */
body {
  margin: 0;
  padding: 0;
}
body button {
  border: none;
  border-radius: 2px;
}
.banner #img2 {
  width: 100%;
  margin-top: 50px;
  display: none;
}
@media screen and (max-width: 400px) {
  .banner #img1 {
    display: none;
  }
  .banner #img2 {
    width: 100%;
    margin-top: 270px;
    display: block;
    height: 55px;
  }
}

/* container_css */
.container-fluid {
  height: 250px;
  background-image: url(https://cdn.shopify.com/s/files/1/0054/6665/2718/files/1_1_ecef2245-1d82-431e-b32d-5d704e1e620d.jpg?v=1606463237);
}
.container-fluid h4 {
  font-family: calibri;
  font-size: 25px;
  letter-spacing: 2px;
  margin-left: 1.2em;
}
.container-fluid > p {
  font-family: calibri;
  font-weight: 100;
  font-size: 17px;
  color: #838586;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.container-fluid > button {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 16px;
}
@media screen and (max-width: 400px) {
  .container-fluid {
    height: 400px;
  }
  .container-fluid h4 {
    font-family: calibri;
    font-size: 21px;
    margin-left: 0.1em;
    letter-spacing: 0px;
  }
  .container-fluid p {
    font-family: calibri;
    line-height: 26px;
    font-size: 17px;
    color: #838586;
    margin-left: 1px;
    margin-right: 1px;
  }
  .container-fluid button {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 18px;
  }
}

/* path_css */
.path i {
  margin: 5px;
  font-size: 12px;
  color: #84878a;
}
.path .home {
  margin-left: 50px;
  color: #838586;
  font-size: 14px;
}
.path {
  color: #838586;
  font-size: 14px;
}
@media screen and (max-width: 400px) {
  .path i {
    margin-left: 3px;
    font-size: 11px;
    color: #84878a;
  }
  .path .home {
    margin-left: 8px;
    color: #838586;
    font-size: 14px;
  }
  .path {
    color: #838586;
  }
}

/* refine_by tools */
.tools {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  margin-top: 30px;
  font-family: calibri;
}
.refine {
  display: flex;
  width: 110px;
  height: 50px;
  margin-left: 3.5%;
  line-height: 2.5em;
  margin-right: 31%;
}
.refine .icon ion-icon {
  margin-top: 5px;
  margin-right: 10px;
}
@media screen and (max-width: 400px) {
  .tools {
    height: 110px;
  }
  .refine {
    margin-left: 5%;
    display: flex;
    line-height: 2.7em;
    font-size: 15px;
    margin-right: 26%;
  }
}
/* view_css */
.view {
  display: flex;
  height: 50px;
  line-height: 2.5em;
  margin-right: 24%;
  font-size: 14px;
}
.view span {
  font-weight: 100;
  margin-right: 5px;
}
.view > div {
  border: 1px solid #cccecf;
  width: 24px;
  margin: 4px;
  height: 27px;
  text-align: center;
}
/* 1st box */
.view .one div {
  padding: 2px;
  background-color: #cccecf;
  margin: 3px;
}
.view .one + div {
  width: 24px;
}
/* 2nd box */
.view .one + div {
  display: flex;
  width: 20px;
}
.view .one + div > div {
  display: flex;
  padding: 2.4px;
  background-color: #cccecf;
  margin: 1.9px;
}
/* 3rd box */
.view .one + div + div {
  display: flex;
  width: 23px;
}
.view .one + div + div > div {
  display: flex;
  padding: 2px;
  background-color: #cccecf;
  margin: 1.4px;
}
/* 4th box */

.view .one + div + div + div {
  width: 33px;
  display: flex;
  border: 1px solid black;
}
.view .one + div + div + div > div {
  padding: 2px;
  background-color: #cccecf;
  margin: 1.8px;
}
/* 5th box */
.view .one + div + div + div + div {
  width: 40.5px;
  display: flex;
}
.view .one + div + div + div + div > div {
  padding: 2px;
  background-color: #cccecf;
  margin: 1.8px;
}
@media screen and (max-width: 400px) {
  .view .one + div + div {
    display: none;
  }
  .view .one + div + div + div {
    display: none;
  }
  .view .one + div + div + div + div {
    display: none;
  }
  .view {
    margin-right: 0px;
    font-size: 15px;
  }
  .view span {
    margin: 0px;
  }
}

/* sort */
.sort {
  display: flex;
  height: 50px;
}
.srt {
  font-weight: 100;
  line-height: 2.6em;
  margin-right: 10px;
}
.drop {
  display: flex;
  background-color: white;
  border: 1px solid #ced0d1;
  width: 170px;
  height: 38px;
  font-weight: 550;
  padding-left: 8px;
  margin-top: 3px;
}
.drop > p {
  margin-top: 5px;
}
.drop .icon {
  margin-left: 45%;
  margin-top: 8px;
}
@media screen and (max-width: 400px) {
  .sort {
    width: 100%;
  }
  .srt {
    margin-right: 16%;
    margin-left: 17px;
    font-size: 13px;
  }
  .drop {
    height: 35px;
    width: 220px;
    margin-top: 5px;
  }
  .drop > p {
    margin: 0;
    margin-top: 3px;
  }
  .drop .icon {
    margin-left: 60%;
    margin-top: 7px;
  }
}
/* option_css */
.options {
  display: none;
  background-color: white;
  border: 1px solid #b4b0b0;
  width: 170px;
  position: absolute;
  right: 3%;
  height: 250px;
  font-family: calibri;
  color: #555758;
  line-height: 5px;
  padding: 7px;
  padding-left: 12px;
  z-index: 1;
}
.options p {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #555758;
}
.options p:hover {
  background-color: #f4f4f4;
}
.options .fea {
  background-color: #f4f4f4;
}
@media screen and (max-width: 400px) {
  .options {
    width: 210px;
    position: absolute;
    right: 20px;
  }
}

/* products container_css */
.box {
  display: flex;
  width: 100%;
  font-family: calibri;
  margin-top: 30px;
  color: #1f2020;
}
.box .left {
  width: 23%;
  font-size: 16px;
  font-weight: bold;
  color: #555758;
}
.box hr {
  color: #838586;
  width: 80%;
  margin: auto;
}
.box .right {
  width: 75%;
}
.box h4 {
  font-weight: 400;
  font-size: 21px;
}
.al {
  margin-left: 15px;
}
.box i {
  font-size: 10px;
  color: rgb(150, 148, 148);
  margin-right: 5px;
  margin-left: 10%;
}
.box .al ~ p i {
  visibility: hidden;
}
.box .al ~ p:hover i {
  visibility: visible;
}
.al ~ p {
  transition: all 0.2s ease-out;
}
.al ~ p:hover {
  transform: translate(10px, 0px);
}
.CateAccord {
  cursor: pointer;
  margin-left: 12%;
}
.CateAccord > i {
  margin-left: 170px;
  font-size: 16px;
  color: black;
}
.CateAccord p,
div {
  cursor: pointer;
}
.CateAccord1 {
  margin-left: 14%;
  display: none;
}
.CateAccord1 > p > i {
  margin-left: 140px;
  font-size: 16px;
  color: black;
}
.skin_Sacc {
  display: none;
}
.hair_Sacc {
  display: none;
}
.face_Sacc {
  display: none;
}
.body_Sacc {
  display: none;
}
.perfume_Sacc {
  display: none;
}

.ConcAccord {
  cursor: pointer;
  margin-left: 12%;
}
.ConcAccord > i {
  margin-left: 170px;
  font-size: 16px;
  color: black;
}

.ConcAccord p,
div {
  cursor: pointer;
}
.ConcAccord1 {
  display: none;
  margin-left: 14%;
}
.ConcAccord1 > p > i {
  margin-left: 140px;
  font-size: 16px;
  color: black;
}

.IngAccord {
  cursor: pointer;
  margin-left: 12%;
}
.IngAccord > i {
  margin-left: 150px;
  font-size: 16px;
  color: black;
}
.IngAccord p,
div {
  cursor: pointer;
}
.IngAccord1 {
  display: none;
  margin-left: 14%;
}
.IngAccord1 > p > i {
  margin-left: 140px;
  font-size: 16px;
  color: black;
}
.ComAccord {
  cursor: pointer;
  margin-left: 12%;
}
.ComAccord i {
  margin-left: 188px;
  font-size: 16px;
  color: black;
}
.ComAccord p,
div {
  cursor: pointer;
}
.ComAccord1 {
  display: none;
  margin-left: 14%;
}
.MorAccord {
  cursor: pointer;
  margin-left: 12%;
}
.MorAccord i {
  margin-left: 188px;
  font-size: 16px;
  color: black;
}
.MorAccord p,
div {
  cursor: pointer;
}
.MorAccord1 {
  display: none;
  margin-left: 14%;
}
.marg {
  margin-left: 11%;
}
@media screen and (max-width: 400px) {
  .box .right {
    width: 100%;
  }
  .box .left {
    display: none;
  }
}
/* Normal grid four column*/
/* products_css */
.right {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  column-gap: 2.5%;
  row-gap: 45px;
}
.right .maindiv {
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  height: 470px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.imgdiv {
  height: 68%;
  width: 100%;
}
.imgdiv .tag_img {
  height: 13%;
}
.imgdiv .img {
  width: 100%;
  height: 85%;
  margin-top: 2%;
}
.imgdiv button {
  display: none;
  z-index: 3;
  padding: 4px;
  width: 150px;
  position: absolute;
  top: 37%;
  left: 21%;
  color: white;
}
.imgdiv .quk {
  display: none;
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 62%;
  left: 0;
  color: white;
  font-size: 14px;
  font-family: calibri;
}
/* name_css */
.infodiv {
  width: 100%;
  height: 30%;
}
.infodiv .text {
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 19px;
  font-family: calibri;
  font-weight: bold;
  color: #2f3131;
  text-align: center;
  padding: 1px;
}
/* rating_css */
.infodiv .text + div {
  display: flex;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  padding: 1px;
  margin-top: 5px;
}
.infodiv .text + div > div:nth-child(1) {
  color: #f7c64a;
  font-size: 19px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 16%;
}
/* price_css */
.infodiv .text + div + div {
  display: flex;
  text-align: center;
}
.infodiv .text + div + div div {
  margin-right: 8px;
  font-size: 23px;
  letter-spacing: 1px;
  font-family: "Times New Roman", Times, serif;
}
.infodiv .text + div + div div:nth-child(1) {
  color: rgb(124, 124, 124);
  text-decoration: line-through;
  margin-left: 19.5%;
}
.infodiv .text + div + div div:nth-child(2) {
  color: red;
}
/* save_rs css */
.infodiv .text + div + div + div {
  text-align: center;
  font-size: 12px;
  font-family: calibri;
  color: green;
}
.infodiv button {
  display: none;
}
/* horizontalGrid */
.boxes {
  width: 100%;
  display: flex;
  height: 270px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.boxes .imgDiv {
  height: 100%;
  width: 23%;
}
.boxes .imgDiv img:nth-child(1) {
  width: 60%;
}
.boxes .imgDiv img:nth-child(2) {
  margin-top: 10px;
  width: 80%;
  height: 80%;
}
.boxes .Boxinfo {
  width: 78%;
}
.boxes .Boxinfo > div:nth-child(1) {
  margin: auto;
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.boxes .Boxinfo > div:nth-child(2) {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.boxes .Boxinfo > div:nth-child(3) {
  display: flex;
  margin-top: 20px;
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
  color: red;
}
.boxes .Boxinfo > div:nth-child(3) > div:nth-child(1) {
  margin-left: 40%;
  text-decoration: line-through;
  color: #838586;
  margin-right: 10px;
}
.boxes .Boxinfo > button {
  background-color: black;
  color: white;
  padding: 5px;
  width: 220px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 13px;
}
.boxes .Boxinfo > button:hover {
  background-color: #52b359;
}
/* grid two columns */
.maind {
  position: relative;
  height: 720px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.tag_img2 {
  width: 32%;
}
.imgdiv2 {
  height: 82%;
  width: 100%;
}
.imgdiv2 button {
  display: none;
  z-index: 3;
  padding: 4px;
  width: 150px;
  position: absolute;
  top: 37%;
  left: 35.5%;
  color: white;
}
.imgdiv2 .quk {
  display: none;
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 72%;
  left: 0;
  color: white;
  font-size: 14px;
  font-family: calibri;
}
.img2 {
  width: 100%;
  height: 85%;
}
.infodiv2 {
  height: 18%;
}
.infodiv2 .text2 {
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 19px;
  font-family: calibri;
  font-weight: bold;
  color: #2f3131;
  text-align: center;
  padding: 1px;
}
.infodiv2 .text2 + div {
  display: flex;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  padding: 1px;
  margin-top: 5px;
}
/* rating */
.infodiv2 .text2 + div > div:nth-child(1) {
  color: #f7c64a;
  font-size: 19px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 32%;
}
/* price_css */
.infodiv2 .text2 + div + div {
  display: flex;
  text-align: center;
}
.infodiv2 .text2 + div + div div {
  margin-right: 8px;
  font-size: 23px;
  letter-spacing: 1px;
  font-family: "Times New Roman", Times, serif;
}
.infodiv2 .text2 + div + div div:nth-child(1) {
  color: rgb(124, 124, 124);
  text-decoration: line-through;
  margin-left: 35.5%;
}
.infodiv2 .text2 + div + div div:nth-child(2) {
  color: red;
}
/* save_rs css */
.infodiv2 .text2 + div + div + div {
  text-align: center;
  font-size: 12px;
  font-family: calibri;
  color: green;
}
.infodiv2 button {
  display: none;
}
/* grid column three */
.maindiv3 {
  position: relative;
  height: 560px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.tag_img3 {
  width: 42%;
}
.imgdiv3 {
  height: 74%;
  width: 100%;
}
.imgdiv3 button {
  display: none;
  z-index: 3;
  padding: 4px;
  width: 150px;
  position: absolute;
  top: 37%;
  left: 30%;
  color: white;
}
.imgdiv3 .quk {
  display: none;
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 65%;
  left: 0;
  color: white;
  font-size: 14px;
  font-family: calibri;
}
.img3 {
  width: 100%;
  height: 85%;
}
.infodiv3 {
  height: 26%;
}
.infodiv3 .text2 {
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 19px;
  font-family: calibri;
  font-weight: bold;
  color: #2f3131;
  text-align: center;
  padding: 1px;
}
.infodiv3 .text2 + div {
  display: flex;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  padding: 1px;
  margin-top: 5px;
}
/* rating */
.infodiv3 .text2 + div > div:nth-child(1) {
  color: #f7c64a;
  font-size: 19px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 25%;
}
/* price_css */
.infodiv3 .text2 + div + div {
  display: flex;
  text-align: center;
}
.infodiv3 .text2 + div + div div {
  margin-right: 8px;
  font-size: 23px;
  letter-spacing: 1px;
  font-family: "Times New Roman", Times, serif;
}
.infodiv3 .text2 + div + div div:nth-child(1) {
  color: rgb(124, 124, 124);
  text-decoration: line-through;
  margin-left: 31%;
}
.infodiv3 .text2 + div + div div:nth-child(2) {
  color: red;
}
/* save_rs css */
.infodiv3 .text2 + div + div + div {
  text-align: center;
  font-size: 12px;
  font-family: calibri;
  color: green;
}
.infodiv3 button {
  display: none;
}
/* grid column five */
.maindiv5 {
  position: relative;
  height: 410px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.tag_img5 {
  width: 68%;
}
.imgdiv5 {
  height: 60%;
  width: 100%;
}
.imgdiv5 button {
  display: none;
  z-index: 3;
  padding: 4px;
  width: 150px;
  position: absolute;
  top: 32%;
  left: 13.5%;
  color: white;
}
.imgdiv5 .quk {
  display: none;
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 58%;
  left: 0;
  color: white;
  font-size: 14px;
  font-family: calibri;
}
.img5 {
  width: 100%;
  height: 90%;
}
.infodiv5 {
  margin-top: 12%;
  height: 34%;
}
.infodiv5 .text2 {
  margin-top: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 19px;
  font-family: calibri;
  font-weight: bold;
  color: #2f3131;
  text-align: center;
  padding: 1px;
}
.infodiv5 .text2 + div {
  display: flex;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 1px;
  margin-top: 5px;
}
/* rating */
.infodiv5 .text2 + div > div:nth-child(1) {
  color: #f7c64a;
  font-size: 19px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 8%;
}
/* price_css */
.infodiv5 .text2 + div + div {
  display: flex;
  text-align: center;
}
.infodiv5 .text2 + div + div div {
  margin-right: 8px;
  font-size: 21px;
  letter-spacing: 1px;
  font-family: "Times New Roman", Times, serif;
}
.infodiv5 .text2 + div + div div:nth-child(1) {
  color: rgb(124, 124, 124);
  text-decoration: line-through;
  margin-left: 18%;
}
.infodiv5 .text2 + div + div div:nth-child(2) {
  color: red;
}
/* save_rs css */
.infodiv5 .text2 + div + div + div {
  text-align: center;
  font-size: 12px;
  font-family: calibri;
  color: green;
}
.infodiv5 button {
  display: none;
}
@media screen and (max-width: 400px) {
  .right {
    padding-left: 3.5%;
    grid-template-columns: repeat(2, 45%);
  }
  .right > div {
    height: 440px;
  }
  .imgdiv {
    height: 45%;
  }
  .imgdiv .img {
    margin-top: 15%;
    margin-left: 8%;
    width: 85%;
    height: 70%;
  }
  .imgdiv .tag_img {
    height: 17%;
  }
  .infodiv {
    padding: 6px;
    margin-top: 13%;
    width: 100%;
    height: 50%;
  }
  .infodiv .text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 16px;
    font-family: calibri;
    font-weight: bold;
    color: #2f3131;
    text-align: center;
    padding: 3px;
  }
  .infodiv .text + div {
    display: block;
    font-weight: 600;
  }
  .infodiv .text + div > div:nth-child(1) {
    text-align: center;
    color: #f7c64a;
    font-size: 13px;
    font-weight: bold;
  }
  .infodiv .text + div > div:nth-child(2) {
    text-align: center;
  }
  .infodiv .text + div + div div:nth-child(1) {
    color: rgb(124, 124, 124);
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 16px;
  }
  .infodiv .text + div + div div:nth-child(2) {
    color: red;
    font-size: 19px;
  }
  .infodiv button {
    cursor: pointer;
    display: block;
    background-color: #52b359;
    padding: 3px;
    width: 110px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 18px;
  }
  /* horizontalGrid */
  .boxes {
    height: 670px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }
  .boxes .imgDiv {
    height: 60%;
    width: 80%;
    margin: auto;
  }
  .boxes .imgDiv img:nth-child(1) {
    width: 48%;
  }
  .boxes .imgDiv img:nth-child(2) {
    width: 100%;
    height: 70%;
  }
  .boxes .Boxinfo {
    width: 100%;
  }
  .boxes .Boxinfo > div:nth-child(1) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: auto;
    text-align: center;
    font-size: 14px;
  }
  .boxes .Boxinfo > div:nth-child(2) {
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 13px;
    font-family: calibri;
    color: #444646;
    text-align: center;
    padding: 1px;
  }
  .boxes .Boxinfo > div:nth-child(3) {
    display: flex;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    color: red;
    margin-left: 25%;
  }
  .boxes .Boxinfo > div:nth-child(3) > div:nth-child(1) {
    margin-left: 10%;
    text-decoration: line-through;
    color: #838586;
  }
  .boxes .Boxinfo > button {
    background-color: rgb(55, 211, 75);
    color: white;
    padding: 3px;
    width: 130px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 31%;
  }
}

/* on click buy now show current product highlighted */
.resDivImg {
  display: none;
}
.onBuyBtn {
  background-color: rgb(244, 247, 253);
  display: flex;
  font-family: calibri;
  border: 1px solid black;
  width: 70%;
  height: 600px;
  position: fixed;
  left: 15%;
  top: 60px;
  z-index: 10000000;
}
.onBuyBtn .Img_divv {
  width: 45%;
  height: 100%;
}
.onBuyBtn .Img_divv img {
  width: 75%;
  height: 65%;
  margin-left: 10%;
  margin-top: 10%;
}
.onBuyBtn .Info_divv {
  padding: 10px;
  width: 55%;
  height: 100%;
}
.onBuyBtn .Info_divv .name {
  height: 10%;
  width: 90%;
  font-size: 21px;
  font-family: calibri;
  margin-top: 15px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.brnd {
  margin-top: 25px;
  font-size: 16px;
  font-family: calibri;
  font-weight: 400;
  line-height: 30px;
  height: 15%;
}
.br1 span {
  margin-right: 80px;
}
.br2 span {
  margin-right: 32px;
}
.br3 span {
  margin-right: 48px;
}
.price {
  margin-top: 15px;
  width: 80%;
}
.price .num {
  margin: 10px;
  font-size: 25px;
  color: red;
}
.num span:nth-child(1) {
  text-decoration: line-through;
  color: rgb(102, 100, 100);
  font-size: 20px;
  margin-right: 10px;
}
.num + div {
  font-weight: 100;
  font-family: calibri;
  font-size: 14px;
  margin: 10px;
}
.price img {
  width: 70px;
}
.counts {
  border: 0.1px solid rgb(156, 155, 156);
  width: 25%;
  height: 35px;
  margin-bottom: 10px;
  display: flex;
}
.counts > div:nth-child(1) {
  width: 25%;
  text-align: center;
  padding-top: 7px;
}
.counts > div:nth-child(1) + div {
  padding-top: 7px;
  width: 25%;
  width: 68px;
  padding-left: 36px;
  border: 0.2px solid rgb(149, 149, 151);
  border-bottom: 0px;
  border-top: 0px;
}
.counts > div:nth-child(1) + div + div {
  text-align: center;
  padding-top: 7px;
  width: 25%;
}
.qty button {
  padding: 15px;
  width: 200px;
  background-color: rgb(62, 187, 62);
  color: white;
  font-weight: bold;
}
.qty button:hover {
  background-color: black;
}
.qty {
  margin-top: 20px;
}
.eye ion-icon {
  font-size: 20px;
}
.people {
  display: flex;
  margin-top: 20px;
  font-size: 14px;
}
.people > div:nth-child(1) {
  font-size: 23px;
  margin-right: 8px;
}
.people > div:nth-child(2) {
  margin-top: 3px;
}
.cross {
  z-index: 1100;
  font-size: 35px;
  position: absolute;
  left: 96.5%;
  top: 0;
}
.appdiv {
  display: none;
}
.cross2 {
  z-index: 1100;
  font-size: 30px;
  position: absolute;
  left: 94%;
  top: 0;
}
.appeardiv {
  margin: auto;
  background-color: rgb(244, 247, 253);
  border: 1px solid black;
  height: 200px;
  width: 35%;
  position: fixed;
  left: 34%;
  top: 200px;
  display: flex;
  font-size: 16px;
  font-family: calibri;
  z-index: 1000;
}
.imgd {
  width: 20%;
  padding: 20px;
}
.imgd img {
  width: 100%;
}
.det {
  width: 65%;
  padding: 25px;
}
.det p:nth-child(3) {
  font-size: 12px;
  color: green;
  font-weight: bold;
}
.det button {
  margin-top: 20px;
  margin-right: 10px;
  width: 120px;
  padding: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.nmdiv P {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* 
//pagination css */
#centered {
  height: 50px;
  width: 250px;
  margin: auto;
  border: 1px solid black;
}
.pagination {
  width: 300px;
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.pagination div {
  margin: auto;
  /* float: left; */
  color: rgb(12, 12, 14);
  font-weight: bold;
  padding: 9px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

/* #rightarrow {
  height: 20px;
  width: 20px;

  transform: rotate(180deg);
} */
#main_active {
  background-color: #f96302;
  color: white;
}

.first {
  border-radius: 50%;
  width: 50px;
  border: 1px solid grey;
  /* margin-left: 5px; */
  text-align: center;
  padding-top: 10px;
}
